.footer {
  background-color: #ffffff;
  font-size: 14px;
  color: #999;

  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__descr {
    margin: 5px;
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 20px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 5px;

      a {
        color: #999;

        &:hover {
          text-decoration: underline;
          color: #303030;
        }
      }
    }
  }

  &__copy {
    margin: 10px 5px 5px 5px;
  }
}
