@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Thin.ttf");
  font-weight: 400;
}

body {
  font-family: "lato";
  font-weight: 500;
  font-size: 16px;
}

button {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  font-family: "lato";
  font-weight: 500;
  font-size: 16px;
}

.container {
  max-width: 1100px;
  padding: 92px 30px;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 550px;
  margin: 0 0 60px 0;
}

@media (max-width: 768px) {
  .container {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 30px 15px;
  }
}

.title {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
}

.subsubtitle {
  font-size: 16px;
}

.subsubtitle--blue {
  color: #48c1e9;
}

.subsubtitle--yellow {
  color: #ffdd99;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 20px;
  }
}

.descr {
  line-height: 22px;
}

@-webkit-keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
            transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}

@keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
            transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}

.button {
  padding: 15px 35px;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ddd;
  border-radius: 10px;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  font-weight: 700;
  letter-spacing: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.button--orange {
  background-color: #d84e4e;
}

.button--orange:hover {
  background-color: #e2b317;
}

.button--blue {
  background-color: #5585a2;
  border-bottom: 2px solid #48738d;
}

.button--blue:hover {
  background-color: #447491;
  border-bottom: 2px solid #37627c;
}

.button--green {
  background-color: #96b92c;
  border-bottom: 2px solid #7c9925;
}

.button--green:hover {
  background-color: #85a81b;
  border-bottom: 2px solid #6b8814;
}

.button--red {
  background-color: #f72b3b;
  border-bottom: 2px solid #cc2634;
}

.button--red:hover {
  background-color: #e61a2a;
  border-bottom: 2px solid #bb1523;
}

.button:hover {
  color: #fff;
  -webkit-animation-name: wobble-top;
          animation-name: wobble-top;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media (max-width: 500px) {
  .button {
    padding: 10px 15px;
  }
}

.exercice {
  font-size: 20px;
  font-weight: 500;
}

.exercice__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exercice__title {
  margin: 0 0 20px 0;
}

.exercice__list {
  text-align: left;
  margin: 10px 0 0 0;
}

.hero {
  background-color: #f0f2f5;
  color: #4e5053;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__img {
  max-width: 170px;
}

.hero__img img {
  width: 100%;
}

.hero__subtitle {
  margin: 20px 0 5px 0;
}

.hero__card {
  overflow: hidden;
  margin: 30px 0 0 0;
  width: 160px;
  height: 206px;
  background-color: #eee;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid #ccc;
  position: relative;
}

.hero__icon {
  margin: auto;
  font-size: 32px;
  border-radius: 50%;
  background-color: #1877f2;
  color: #f1f1f1;
  padding: 10px;
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__dodaj {
  padding: 12px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #1877f2;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

.hero__hack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

.hero__input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 0 15px 0;
}

.hero__input::-webkit-input-placeholder {
  font-weight: 500;
  color: #999;
  font-size: 18px;
}

.hero__input:-ms-input-placeholder {
  font-weight: 500;
  color: #999;
  font-size: 18px;
}

.hero__input::-ms-input-placeholder {
  font-weight: 500;
  color: #999;
  font-size: 18px;
}

.hero__input::placeholder {
  font-weight: 500;
  color: #999;
  font-size: 18px;
}

.hero__button {
  width: 100%;
  padding: 10px 20px;
  background-color: #1877f2;
  font-size: 24px;
  color: #f1f1f1;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: 350ms all ease-out;
  transition: 350ms all ease-out;
  cursor: pointer;
}

.hero__button:hover {
  background-color: #0655f0;
}

.hero__line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.hero__pamietam {
  margin: 15px 0 20px 0;
  color: #1877f2;
}

.hero__regbutton {
  margin: 20px 0 5px 0;
  font-size: 20px;
  font-weight: 700;
  background-color: #42b72a;
  border-radius: 5px;
  padding: 15px 15px;
  color: #f1f1f1;
  -webkit-transition: 350ms all ease-out;
  transition: 350ms all ease-out;
}

.hero__regbutton:hover {
  background-color: #209528;
}

.hero__info {
  color: #000;
  margin: 40px 0 0 0;
}

.hero__info span {
  font-weight: 700;
}

@media (max-width: 768px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__right {
    margin: 50px auto 0 auto;
  }
}

.footer {
  background-color: #ffffff;
  font-size: 14px;
  color: #999;
}

.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__descr {
  margin: 5px;
}

.footer__line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0 20px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list li {
  margin: 5px;
}

.footer__list li a {
  color: #999;
}

.footer__list li a:hover {
  text-decoration: underline;
  color: #303030;
}

.footer__copy {
  margin: 10px 5px 5px 5px;
}
/*# sourceMappingURL=main.css.map */